body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

#search-form, #draw-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
}

.form-floating {
  flex-basis: auto;
}